html,body{
	background-color:#fff;
	font-family: 'Source sans Pro', sans-serif;
	overflow-x: hidden !important;
	margin: 0px !important;
	padding:  0px !important;
}
*{
	text-decoration: none !important;
}

.nav
    {
    position:  fixed;
	z-index: 1000;
	top:  0;
	right: 0;
	left:  0;
	height: 80px;
	display: flex;
	flex-direction:  row;
	justify-content:  space-between;
	align-items: center;
	padding: 0 25px 0 25px;
	background-color: #fff;
	box-shadow: 0 19px 38px rgba(0,0,0,10);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.nav .links a{
	margin-right: 25px;
	font-size: 16px;
	font-weight: 600;
	color: #000;

}
.nav .links .mainlink{
	color: #e0501b;
}

.nav h4{
	font-size:  22px;
	font-weight:  bold;
	margin-left:  25px;
}
 /*LANDING CSS*/

 .land
 {
 	display: flex;
 	flex-direction: row;
 	justify-content:  space-between;
 	align-items:  center;
 	padding: 0 10vw 0 10vw;
 	height: 100vh;
 	
}
 
 .landtext h1{
 	font-size: 6vw;
 	margin: 0 !important;
 }

 .landtext h3{
 	margin: 6px !important;
 	font-size:  20px;
 	opacity: 0.4;
 	line-height:  30px;
 }

 .landtext .btn
 {

 	width: 120px;
 	margin-top: 30px;
 	font-size: 1.2vw;
 	padding: 14px 20px 14px 20px;
 	background-color: paleturquoise;
 	text-align: center;
 	border-radius: 45px;
 }

 .landtext .btn a{
 	color: black;
 	font-size: 1.2vw;

 }
 .landImage img{
 	width: 30vw;
 }
 /*ABOUT CSS*/

 .about{
 	height: 600px;
 	padding:  50px;
 	display:  flex;
 	flex-direction: row;
 	justify-content:  space-evenly;
 	align-items: center;
 }

 .abouttext{
 	position:  relative;
 	padding:  0 50px;
 	height:  inherit;
 }

 .abouttext h1{
 	position:static;
 	left: 110px;
 	top: 200px;
 	
 }

 .abouttext img{
 	width: 20vw;
 	position:  relative;
   top: -30px;
   border-radius: 100%;
   
    

 }

 .aboutlist{
 	width:  50%;
 }
 ol{
 	list-style:  none;
 	color: #e0501b;
 }

 ol li{
 	font-size: 34px;
 	position: relative;
 	margin-bottom: 20px;
 	border-bottom:  1px solid #ebebeb;
 }
 li p{

 	font-size:  16px;
 	color: #000;
 	padding-left: 60px;
 	line-height: 30px;
 	opacity: 0.6;
 }
 li span{
 	position:  absolute;
 	line-height: 25px;
 	font-weight: 600;
 }



 /*infocss*/


 .infosec{
 	height: 600px;
 }

 .infoheader{

 	text-align: center;
 	margin-bottom: 40px;
 }

 .infoheader{

 	text-align: center;
 	margin-bottom: 40px;
 }
 .infocards{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
 	align-items: center;
 	padding: 40px 0 40px 0;
 }
 .infocards .card {
 	position:  relative;
 	height: 360px;
 	width: 340px;
 	background: #fff;
 	box-shadow: 0 10px 22px rgba(0,0,0,0.09), 0 10px 10px rgba(0,0,0,0.09);

 }

 .infocards .one .cardoneimg {

 	width:  214px;
 	position: absolute;
 	top:  -10px;
 	right: -30px;
 	
 }


 .infocards .two .cardtwoimg {

 	width:  160px;
 	position: absolute;
 	top:  -10px;
 	right: -30px;
 	
 }


 .infocards .three .cardthreeimg {

 	width:  160px;
 	position: absolute;
 	top:  -10px;
 	right: -30px;
 	
 }

 .cardbgone{
 	height: 150px;
 	background-color: blueviolet;
 }

.cardbgtwo{
 	height: 150px;
 	background-color: #a1cdff;
 }

.cardbgthree {

 	height: 150px;
 	background-color: blueviolet;
 }




 .cardcontent h2{

 	font-weight: 600;
 }

 .cardcontent p{
 	line-height: 30px;
 	opacity: 0.6;
 }

 .cardcontent .cardbtn{

 	position: absolute;
 	right:  20px;
 	padding: 10px;
 	background-color: #ededed;
 	width:  25px;
 	height: 20px;
 	border-radius: 6px;
 	display:  flex;
 	justify-content:  center;
 	align-items:  center;
 	transition:  all ease-in-out 0.2s;
 }


.cardcontent .cardbtn{

 	position: absolute;
 	right:  20px;
 	padding: 10px;
 	background-color: #ededed;
 	width:  25px;
 	height: 20px;
 	border-radius: 6px;
 	display:  flex;
 	justify-content:  center;
 	align-items:  center;
 	transition:  all ease-in-out 0.2s;
 }

.cardcontent .cardbtn:hover
{
	background-color: #2f8be0;
}




 .cardcontent .cardbtn .cardicon {
 	position:  relative;
 	top:  0px;
 	left:  0px;
 	width: 16px;

 }


 /*Banner*/


 .banner{
  height:  400px;
  background-color: #ffce63;
  display:  flex;
  flex-direction: row;
  padding: 50px;
  justify-content: space-evenly;
  align-items: center;

 }

 .bannerText h1{
  font-size: 3vw;
  color: #000;
  font-weight: 600;
 }

 .bannerText img{
  width:  10vw;
  margin-right: 20px;
 }

 .bannerimg img{
  width:  20vw;
 }

 /*footer css*/
 .footer{
  height: 100px;
  display: flex;
  flex-direction:  column;
  align-items: center;
  padding-bottom:  20px;
 }


 .footerlink a
 {

  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
 }
 .footerlink .mainlink{

  color: #e0501b;
 }
  /*Responsive*/

 @media only screen and (max-width: 600px)
 {
  .nav
  {

    flex-direction:  column;
    justify-content:  space-ground;
    padding:  20px;
    height:  auto;
    overflow-y:  hidden;
   }

   .nav h4{
    font-size: 6vw;
    margin-top: 10px;
    margin-bottom: 14px;
   }

   .nav .links a{
    margin-right:  25px;
    font-size:  12px;
    font-weight: 600;
    color: #000;
 }

 /*landing page*/
 .land h1{
  flex-direction:  column-reverse;
  height: 750px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landtext h1{

  font-size:  6vw;
  margin:  0!important;

}
.landtext h3{
  font-size: 16px;


}
 
 .landtext h3{

  font-size: 16px;
 }
 .landtext .btn{
   margin:  0 auto;
 }

 .landtext .btn .a{
  font-size:  3vw;
 }

 .landImage img{
  width:  52vw;
  margin-bottom: 20px;
}
/*about*/


.about{

  height: auto;
  padding: 0px;
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}
.abouttext{
  padding:  0 50 px;
  height: 100px;

}
 .abouttext h1{

  left: 40px;
  font-size:  5vw;

 }

 .abouttext img{
  width: 16vw;
  top: 10px;
  left: -30px;
 }
 .aboutlist{
  width:  75%;

 }
 ol li{
  font-size: 26px;

 }
 li p{
  font-size:  14px;

 }
  .infosec{
    height:  auto;
  }
  .infoheader{
    text-align:  center;
    margin: 40px 0;

  }
   .infocards{

    display: flex;
    flex-direction:  column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;

   }

   .infocards .card{

    margin-bottom: 60px;

   }
   .banner{

    height: auto;
    flex-direction: column-reverse;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;

   }
   .banner h1{
    font-size: 6vw;

   }
   .bannerinnertext{
    font-size:3vw !imporatant ;
  }
  .bannerimg img{
    width: 26vw;
  }
  .footer{
    padding-bottom: 40px;
}








 
